nav(class="navbar navbar-dark bg-dark")
    ul.nav
        li.nav-item(style="font-color:white")
            a.nav-link(href="/music/view") Music Album Gallery
        li.nav-item
            a.nav-link(href="/music/mylibrary") My Library
br
br